body {
  background-image: url('images/Star-Wars-Wallpaper-HD.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.h1 {
  font-family: sans-serif;
}

.ui.table {
  margin: auto;
}

@media ( prefers-reduced-motion : no-preference ) {

  .rotate-icon {
    animation: rotate-icon-spin infinite 20s alternate;
  }
}

@keyframes rotate-icon-spin {

  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(360deg);
  }
}
